<nav class="bg-white shadow-md fixed w-full bottom-0 left-0">
    <div class="flex justify-between h-16">
        <a class="p-4" href="#">
            <img src="/src/assets/images/logo.webp" width="30" height="30" alt="">
        </a>
        <button class="flex items-center sm:hidden "><i class="fa fa-reorder pr-4"></i></button>
        <div class="hidden sm:flex sm:items-center">
          <div>
            <a class="pr-4" href="./index.html">Home</a>
            <a class="pr-4" href="./article.html">Article</a>
            <a class="pr-4" href="./ia.html">IA</a>
          </div>
        </div>
        <div class="flex items-center pr-4">
            <i class="fab fa-google-plus-g h-6 w-6 mr-2"></i>
            <i class="fab fa-facebook-f h-6 w-6"></i>
            <i class="fab fa-twitter h-6 w-6"></i>
        </div>
    </div>
  </nav>